<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="css/order.css" />
<body>

<div class="col-lg-4 col-md-6 text-center">
    <div class="single-pricing-table1">
<form action="/order" method="post">
<!--    <input type="hidden" name="member_id" th:value="${session.member.member_id}">-->
    <input type="hidden" name="id" th:value="${umbrellaZoneDto.id}"/>


            <h2 id="num"><p th:text="${umbrellaZoneDto.name}"></p></h2>

        <ul class="package-list">
            <li id="car_maker"><p th:text="${umbrellaZoneDto.count}"/></li>
        </ul>
        <select >
            <option id="umbrellaId" th:each="umbrella, idx : ${umbrellaList}" th:value="${umbrella.id}" th:text="${umbrella.getId()}">
            </option>
        </select>
    <input type="button" value="대여하기" onclick="borrowUmbrella()">
    <input type="button" value="반납하기" onclick="returnUmbrella()">

</form>
    </div>
</div>
<script>
    function borrowUmbrella () {
        const umbrellaId  = document.getElementById("umbrellaId").value;
        location.href = '/view/borrowUmbrella/' + umbrellaId;
    }

    function returnUmbrella () {

    }
</script>
</body>
</html>