<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="fragment-head">
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>우세권</title>
	<meta name="description" content="Some WebGL experiments with raindrop effects" />
	<meta name="keywords" content="webgl, raindrops, effect, rain, web, video, background" />
	<meta name="author" content="Lucas Bebber for Codrops" />
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}" />
	<link rel="stylesheet" type="text/css" href="css/style1.css" />
	<link rel="stylesheet" type="text/css" href="css/menu.css" />
	<script src="https://code.jquery.com/jquery-3.5.1.min.js?ver=2"></script>
	<script src="js/weather.js"></script>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body class="demo-1">
	<div class="image-preload">
		<img src="img/drop-color.png" alt="">
		<img src="img/drop-alpha.png" alt="">
		<img src="img/weather/texture-rain-fg.png" />
		<img src="img/weather/texture-rain-bg.png" />
		<img src="img/weather/texture-sun-fg.png" />
		<img src="img/weather/texture-sun-bg.png" />
		<img src="img/weather/texture-fallout-fg.png" />
		<img src="img/weather/texture-fallout-bg.png" />
		<img src="img/weather/texture-drizzle-fg.png" />
		<img src="img/weather/texture-drizzle-bg.png" />
	</div>
	<div class="container">
		<header class="codrops-header" th:fragment="fragment-header">
			<div class="codrops-links">
				<div th:replace="menu.html :: fragment-menu"></div>
<!--				<a class="codrops-icon codrops-icon&#45;&#45;prev" href="/" title="Previous Demo"><span>Previous Demo</span></a>-->
<!--				<a class="codrops-icon codrops-icon&#45;&#45;drop" href="#" title="Back to the article"><span>Back to the Codrops article</span></a>-->
			</div>
			<h1>우세권</h1>
			<nav class="codrops-demos">
				<a class="current-demo" href="/">일기예보</a>
				<a href="/login">로그인</a>
				<a href="/join">회원가입</a>
			</nav>
		</header>
		<!--메뉴-->

		<div class="slideshow">

			<canvas width="1" height="1" id="container" style="position:absolute"></canvas>
			<tody id="info">
				<div class="slide" id="slide-1" data-weather="rain">
					<div class="slide__element slide__element--date">지역을 선택해주세요 </div>
					<div class="slide__element slide__element--temp">??°<small>C</small></div>
				</div>
			</tody>


			<nav class="slideshow__nav">

			</nav>
		</div>
		<p class="nosupport">Sorry, but your browser does not support WebGL!</p>
	</div>
	<!-- /container -->
	<script src="js/index.min.js"></script>
</body>

</html>
