<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="css/order.css" />
<body>
<div class="col-lg-4 col-md-6 text-center">
    <div class="single-pricing-table1">
        <h3 id="img">img</h3>
        <h2 id="num"></h2>

        <ul class="package-list">
            <li id="car_maker">1</li>
            <li id="car_name">2</li>
            <li id="car_type"></li>

        </ul>
    </div>
</div>
</body>
</html>